/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_utilities.scss */
html, body, header, .view {
  margin: 0;
  scroll-behavior: smooth;
}

/* line 7, ../sass/_utilities.scss */
.max-w-100 {
  max-width: 100% !important;
}

/* Height */
/* line 13, ../sass/_utilities.scss */
.h-100vh {
  height: 100vh !important;
}

/* line 16, ../sass/_utilities.scss */
.h-25vh {
  height: 25vh !important;
}

/* Height */
/* bg-color */
/* line 22, ../sass/_utilities.scss */
.bg-cello {
  background-color: #364959 !important;
}

/* line 25, ../sass/_utilities.scss */
.bg-nightrider {
  background-color: #333333 !important;
}

/* line 28, ../sass/_utilities.scss */
.bg-yellow {
  background-color: #fef035 !important;
}

/* line 31, ../sass/_utilities.scss */
.bg-eclipse {
  background-color: #3c3c3c !important;
}

/* line 34, ../sass/_utilities.scss */
.bg-gray {
  background-color: #f2f2f2 !important;
}

/* line 37, ../sass/_utilities.scss */
.bg-blue {
  background-color: #1072b8 !important;
}

/* line 40, ../sass/_utilities.scss */
.bg-gray-light {
  background-color: #969696 !important;
}

/* font-size smaller */
/* line 44, ../sass/_utilities.scss */
.text-12 {
  font-size: 12px !important;
}

/* line 47, ../sass/_utilities.scss */
.text-14 {
  font-size: 14px !important;
}

/* line 2, ../sass/_header.scss */
.navbar .nav-link {
  text-transform: uppercase;
  color: #000000 !important;
  font-weight: normal;
}
/* line 6, ../sass/_header.scss */
.navbar .nav-link.active {
  color: #6db2d7 !important;
  font-weight: bold;
}
/* line 10, ../sass/_header.scss */
.navbar .nav-link:hover {
  color: #6db2d7 !important;
  font-weight: bold;
}
/* line 17, ../sass/_header.scss */
.navbar .navbar-dark .navbar-toggler {
  color: #01093F !important;
}

/* line 1, ../sass/_global.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* line 5, ../sass/_global.scss */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  overflow-y: auto;
  min-height: 100%;
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* line 5, ../sass/_global.scss */
  .sidebar {
    width: 200px;
  }
}
@media screen and (max-width: 575.98px) {
  /* line 5, ../sass/_global.scss */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
/* line 21, ../sass/_global.scss */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  /*@include mediaQueries (sm){
    float: left;
  }*/
}
@media screen and (max-width: 575.98px) {
  /* line 21, ../sass/_global.scss */
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* line 33, ../sass/_global.scss */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}
/* line 37, ../sass/_global.scss */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
/* line 43, ../sass/_global.scss */
.sidebar #accordionExample .card {
  border: 0px solid #333333;
}
/* line 45, ../sass/_global.scss */
.sidebar #accordionExample .card .card-header {
  padding: 0px !important;
  background-color: #333333 !important;
  border-bottom: 0px solid #333333;
}
/* line 49, ../sass/_global.scss */
.sidebar #accordionExample .card .card-header button {
  padding: 0px !important;
  text-align: left;
  color: #ffffff !important;
  text-decoration: none !important;
  margin: 0px !important;
  font-size: 16px;
  text-transform: capitalize;
  width: 100%;
}
/* line 60, ../sass/_global.scss */
.sidebar #accordionExample .card .card-header h5:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f107" !important;
  font-weight: 900;
  position: absolute;
  right: 0;
}
/* line 69, ../sass/_global.scss */
.sidebar #accordionExample .card .card-body {
  background-color: #333333 !important;
  font-size: 14px !important;
  padding: 0px !important;
}
/* line 74, ../sass/_global.scss */
.sidebar #accordionExample .card .collapse {
  background-color: #333333 !important;
}

/* line 81, ../sass/_global.scss */
div.content {
  margin-left: 250px;
  padding: 0px;
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* line 81, ../sass/_global.scss */
  div.content {
    margin-left: 200px;
  }
}
@media screen and (max-width: 575.98px) {
  /* line 81, ../sass/_global.scss */
  div.content {
    margin-left: 0;
  }
}
/* line 92, ../sass/_global.scss */
div.content .rightContainer {
  max-height: 100vh;
  overflow-y: scroll;
}
/* line 95, ../sass/_global.scss */
div.content .rightContainer .carousel .carousel-control-next-icon, div.content .rightContainer .carousel .carousel-control-prev-icon {
  width: 500px !important;
  height: 500px !important;
}
/* line 99, ../sass/_global.scss */
div.content .rightContainer p {
  font-size: 14px;
  line-height: 20px;
  color: #77838e;
  font-weight: 400;
}
/* line 115, ../sass/_global.scss */
div.content .rightContainer .talentList span, div.content .rightContainer .infraList span {
  padding-left: 0px !important;
}
/* line 118, ../sass/_global.scss */
div.content .rightContainer .talentList ul li, div.content .rightContainer .infraList ul li {
  display: inline-block !important;
  min-width: 25%;
}

/* line 1, ../sass/_footer.scss */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #444444 !important;
  color: white;
  text-align: center;
}
