body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  overflow-y: auto;
  min-height: 100%;
  @include mediaQueries (sm){
    width: 200px;
  }
  @include mediaQueries (xs){
    width: 100%;
    height: auto;
    position: relative;
  }
  a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    /*@include mediaQueries (sm){
      float: left;
    }*/
    @include mediaQueries (xs){
      text-align: center;
      float: none;
    }
    &.active{
      background-color: #4CAF50;
      color: white;
    }
    &:hover:not(.active) {
      background-color: #555;
      color: white;
    }
  }
  #accordionExample{
    .card{
      border: 0px solid #333333;
      .card-header{
        padding: 0px !important;
        background-color: #333333 !important;
        border-bottom: 0px solid #333333;
        button{
          padding: 0px !important;
          text-align: left;
          color: #ffffff !important;
          text-decoration: none !important;
          margin: 0px !important;
          font-size: 16px;
          text-transform: capitalize;
          width: 100%;
        }
        h5{
          &:after{
            font-family: 'Font Awesome 5 Free';
            content: "\f107" !important;
          font-weight: 900;
          position: absolute;
          right: 0;
          }
        }
      }
      .card-body{
        background-color: #333333 !important;
        font-size: 14px !important;
        padding: 0px !important;
      }
      .collapse{
        background-color: #333333 !important;
      }
    }

  }
}
div.content {
  margin-left: 250px;
  //padding: 1px 16px;
  padding: 0px;
  //height: 1000px;
  @include mediaQueries (sm){
    margin-left: 200px;
  }
  @include mediaQueries (xs){
    margin-left: 0;
  }
  .rightContainer{
    max-height: 100vh;
    overflow-y: scroll;
    .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
      width: 500px !important;
      height: 500px !important;
    }
    p{
      font-size: 14px;
      line-height: 20px;
      color: #77838e;
      font-weight: 400;
    }
    .talentList, .infraList{
      @include mediaQueries (xl){
        //margin-left: 2rem !important;
      }
      @include mediaQueries (lg){
        //margin-left: 2rem !important;
      }
      @include mediaQueries (md){
        //margin-left: 1rem !important;
      }
      span{
        padding-left: 0px !important;
      }
      ul li{
        display: inline-block !important;
        min-width: 25%;
      }
    }
  }
}
