.navbar {
  .nav-link{
    text-transform: uppercase;
    color: $black !important;
    font-weight: normal;
    &.active  {
        color: #6db2d7 !important;
        font-weight: bold;
    }
    &:hover{
      color: #6db2d7 !important;
      font-weight: bold;
    }

  }
  .navbar-dark{
    .navbar-toggler{
      color: $midnight-express !important;
    }
  }
}
