html, body, header, .view {
    //height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
// Width
.max-w-100{
  max-width: 100% !important;
}
// Width

/* Height */
.h-100vh{
  height: 100vh !important;
}
.h-25vh{
  height: 25vh !important;
}
/* Height */

/* bg-color */
.bg-cello{
  background-color: #364959 !important;
}
.bg-nightrider{
  background-color: #333333 !important;
}
.bg-yellow{
  background-color: #fef035 !important;
}
.bg-eclipse{
  background-color: #3c3c3c !important;
}
.bg-gray{
  background-color: #f2f2f2 !important;
}
.bg-blue{
  background-color: #1072b8 !important;
}
.bg-gray-light{
  background-color: #969696 !important;
}
/* font-size smaller */
.text-12{
  font-size: 12px !important;
}
.text-14{
  font-size: 14px !important;
}
