$scarlet: #FF2500;
$midnight-express: #01093F;
$link-water: #CFD0D7;
$mischka: #A5A7B1;
$tifanny-cyan: #0bc1af;
$dark-cyan: #019A8B;
$space: #AABBCC;
$gray: #979797;
$baby-blue: #016BB7;
$baby-pink: #FFB0A1;
$blue-gray: #9195B1;
$black: #000000;
$email: #88ccff;
$ghost-white: #f1f2f9;
$smoke-white: #f8f8f8;
$navy-blue: #01093F;
$dogger-blue: #007BFF;
$white: #ffffff;

// Color Variables
// Bootstrap Color Defaults
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 56px;
// Change below variable to change the width of the sidenav
$sidenav-base-width: 250px;
// Change below variable to change the width of the sidenav when collapsed
$sidenav-collapsed-width: 55px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 56px;
